[submodule "rust"]
	path = rust
	url = https://github.com/Myxogastria0808/nix-flakes-rust.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/Myxogastria0808/nix-flakes-nodejs.git
[submodule "r"]
	path = r
	url = https://github.com/Myxogastria0808/nix-flakes-r.git
[submodule "java"]
	path = java
	url = https://github.com/Myxogastria0808/nix-flakes-java.git
[submodule "presenterm"]
	path = presenterm
	url = https://github.com/Myxogastria0808/nix-flakes-presenterm.git
[submodule "fltk"]
	path = fltk
	url = https://github.com/Myxogastria0808/nix-flakes-fltk.git
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/Myxogastria0808/nix-flakes-duckdb.git
[submodule "shiny"]
	path = shiny
	url = https://github.com/Myxogastria0808/nix-flakes-shiny.git
[submodule "nix-flakes-haskell"]
	path = nix-flakes-haskell
	url = https://github.com/Myxogastria0808/nix-flakes-haskell.git
