[submodule "rust"]
	path = rust
	url = https://github.com/Myxogastria0808/nix-flakes-rust.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/Myxogastria0808/nix-flakes-nodejs.git
[submodule "r"]
	path = r
	url = https://github.com/Myxogastria0808/nix-flakes-r.git
[submodule "java"]
	path = java
	url = https://github.com/Myxogastria0808/nix-flakes-java.git
[submodule "presenterm"]
	path = presenterm
	url = https://github.com/Myxogastria0808/nix-flakes-presenterm.git
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/Myxogastria0808/nix-flakes-duckdb.git
[submodule "shiny"]
	path = shiny
	url = https://github.com/Myxogastria0808/nix-flakes-shiny.git
[submodule "nix-flakes-haskell"]
	path = nix-flakes-haskell
	url = https://github.com/Myxogastria0808/nix-flakes-haskell.git
[submodule "nix-flakes-ocaml"]
	path = nix-flakes-ocaml
	url = https://github.com/Myxogastria0808/nix-flakes-ocaml.git
[submodule "nix-flakes-bevy"]
	path = nix-flakes-bevy
	url = https://github.com/Myxogastria0808/nix-flakes-bevy.git
[submodule "bevy"]
	path = bevy
	url = https://github.com/Myxogastria0808/nix-flakes-bevy.git
[submodule "haskell"]
	path = haskell
	url = https://github.com/Myxogastria0808/nix-flakes-haskell.git
[submodule "ocaml"]
	path = ocaml
	url = https://github.com/Myxogastria0808/nix-flakes-ocaml.git
[submodule "julia"]
	path = julia
	url = https://github.com/Myxogastria0808/nix-flakes-julia.git
[submodule "python"]
	path = python
	url = https://github.com/Myxogastria0808/nix-flakes-python.git
